body {
  background-color: #3c424b;
  color: white;
  font-size: 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  background-color: #615f5f89;
  padding: 1rem;
  border-radius: 1rem;
}

.column {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #000000;
  height: 3rem;
}

.weather-range {
  display: flex;
  height: 3rem;
}

.view-header {
  font-weight: 600;
  font-size: large;
  padding-bottom: 1rem;
}

.view-header.hourly {
  border-bottom: 1px solid black;
}

.row {
  width: 4rem;
  align-self: center;
}

img {
  height: 1.5rem;
  max-width: 1.5rem;
}

.center {
  text-align: center;
}

.min-temp {
  color: rgb(198, 198, 198);
}

.max-temp {
  font-weight: 600;
}

.current-temp {
  background: black;
  outline: 2px solid white;
  position: absolute;
  left: var(--current-temp, 0px);
  top: -1px;

  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
}

.loader {
  border: 0.5rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.5rem solid #3498db;
  width: 1rem;
  height: 1rem;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.range {
  width: 150px;
  height: 0.4rem;
  background-image: linear-gradient(to right, #a0d3e4, #92d392, #dbdb43, #f0a313, #f56d13);
  border-radius: 0px;
  position: relative;
}

.range::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-color: #888ca5;
  border-radius: 0px;
  width: var(--after-width, 0px);
  height: 0.4rem;
}

.range::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #888ca5;
  border-radius: 0px;
  width: var(--before-width, 0px);
  height: 0.4rem;
}

.hourly-view {
  display: flex;
  overflow: auto;
  gap: 0.5rem;
  padding: 1rem 0;
}

.hourly-view::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.hourly-view::-webkit-scrollbar-track {
  background: #3c424b;
  border-radius: 10px;
}

.hourly-view::-webkit-scrollbar-thumb {
  background-color: #615f5f89;
  border-radius: 10px;
  border: 3px solid #3c424b;
}

.hourly-row {
  min-width: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
}

.hourly-time {
  font-size: 1rem;
}

.padding-left {
  padding-left: 0.25rem;
}

#content {
  max-width: 30rem;
  margin: auto;
}

.capitalise::first-letter {
  text-transform: capitalize;
}

form {
  padding-top: 3rem;
}

input {
  height: 4rem;
  width: 100%;
  padding: 1rem 4rem 1rem 1rem;
  box-sizing: border-box;

  font-size: 1.5rem;
  border-radius: 1rem;
  background-color: #615f5f89;
  border: none;
  color: white;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: 0.25rem solid #313030d1;
}

.input-wrapper {
  position: relative;
}

.input-wrapper::after {
  content: "";
  position: absolute;
  height: 4rem;
  width: 3rem;
  right: 0.75rem;
  top: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMi4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zZWFyY2giPjxjaXJjbGUgY3g9IjExIiBjeT0iMTEiIHI9IjgiLz48cGF0aCBkPSJtMjEgMjEtNC4zLTQuMyIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: center;
}

.resolved-address {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
