.column {
  display: flex;
  border-top: 1px solid #000000;
  height: 2.5rem;
}

.row {
  width: 4rem;
  align-self: center;
}

img {
  height: 1.5rem;
  max-width: 1.5rem;
}

.center {
  text-align: center;
}

.min-temp {
  color: gray;
}

.max-temp {
  font-weight: 600;
}

.current-temp {
  background: black;
  position: absolute;
  left: var(--current-temp, 0px);
  top: -1px;

  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
}

.loader {
  border: 0.5rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.5rem solid #3498db;
  width: 1rem;
  height: 1rem;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.results {
  display: flex;
  flex-direction: column;
}

.range {
  width: 150px;
  height: 0.4rem;
  background-image: linear-gradient(to right, #a0d3e4, #92d392, #dbdb43, #f0a313, #f56d13);
  border-radius: 0px;
  position: relative;
}

.range::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-color: #888ca5;
  border-radius: 0px;
  width: var(--after-width, 0px);
  height: 0.4rem;
}

.range::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #888ca5;
  border-radius: 0px;
  width: var(--before-width, 0px);
  height: 0.4rem;
}
